<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ви можете дізнатися його історію</div>
        <div class="response">"Час" — це науково-фантастичний трилер режисера Ендрю Ніккола, який переносить глядачів у
            майбутнє, де час став найціннішою валютою. Фільм пропонує захоплюючий погляд на суспільство, де багаті
            живуть вічно, а бідні борються за кожну секунду.
            <h1>Сюжет</h1>
            Дія фільму відбувається у недалекому майбутньому, де люди генетично модифіковані так, що старіють тільки до
            25 років. Після цього їхній годинник починає відлік одного року, який вони мають, перш ніж померти, якщо не
            зароблять більше часу. Гроші як такі перестали існувати; єдина валюта — це час. Багаті мають сотні й тисячі
            років, які можуть витратити на все, що забажають, тоді як бідні постійно ризикують своїм життям, щоб
            продовжити ще один день.

            Головний герой фільму — Вілл Салас (Джастін Тімберлейк), молодий чоловік з бідного району. Його життя
            змінюється, коли він рятує багатого чоловіка, Генрі Гамільтона (Метт Бомер), який має більше століття на
            своєму годиннику. Генрі, втомлений від свого безкінечного життя, вирішує передати свій час Віллу і вчиняє
            самогубство. Вілл отримує 116 років і вирушає до зони багатих, щоб з'ясувати правду і помститися за смерть
            своєї матері, яка померла через нестачу часу.

            Потрапивши в зону багатих, Вілл знайомиться з Сільвією Вайс (Аманда Сейфрід), дочкою багатія Філіпа Вайса
            (Вінсент Картайзер), одного з найвпливовіших людей у світі. Після серії подій Вілл і Сільвія стають
            союзниками у боротьбі проти системи, яка експлуатує бідних і тримає багатих в привілейованому становищі.

            Вілл і Сільвія починають грабувати банки, де зберігається час, і роздавати його бідним, сподіваючись
            викликати революцію. Тим часом, вони переслідуються Хранителем часу Реймондом Леоном (Кілліан Мерфі), який
            намагається повернути викрадений час і зупинити їхні дії.

            Фільм закінчується тим, що Вілл і Сільвія продовжують свою боротьбу, викрадаючи величезну кількість часу і
            розповсюджуючи його серед бідних, тим самим руйнуючи систему нерівності.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Вілл Салас (Джастін Тімберлейк) — молодий чоловік з бідного району, який отримує шанс змінити своє життя і
            боротьбу проти системи. Вілл є рішучим і сміливим, готовим ризикувати всім заради справедливості.
            <br> Реймонд Леон (Кілліан Мерфі) — Хранитель часу, який переслідує Вілла і Сільвію. Його персонаж уособлює
            систему, яка тримає людей у гнобленні, але в ньому також проглядається людяність.
            <pre></pre>
            <br>Сільвія Вайс (Аманда Сейфрід) — дочка багатія, яка приєднується до Вілла у його боротьбі. Вона швидко
            адаптується до нового життя і стає активним учасником революції.
            <pre></pre>
            <br>Генрі Гамільтон (Метт Бомер) — багатий чоловік, який передає свій час Віллу і стає каталізатором усіх
            подій, що відбуваються після цього.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Час" — це інтелектуально провокаційний фільм, який змушує глядачів замислитися про соціальну нерівність і
            вартість життя. Ендрю Ніккол створив захоплюючий світ, де час став валютою, і показав, до яких крайнощів
            може дійти суспільство, коли багаті можуть жити вічно, а бідні змушені боротися за кожну секунду.

            Акторська гра Джастіна Тімберлейка та Аманди Сейфрід є переконливою і додає емоційної глибини їхнім
            персонажам. Візуально фільм виглядає стильно, з ретельно продуманими декораціями і ефектами, що підкреслюють
            різницю між багатими і бідними районами.

            Сюжет фільму розвивається динамічно, тримаючи глядача в напрузі до самого кінця. Відчуття часу, що швидко
            минає, додає фільму унікального темпу і змушує співпереживати героям у їхній боротьбі.

            "Час" — це фільм, який варто переглянути не лише заради розваги, але й для того, щоб задуматися над глибшими
            питаннями про цінність життя і соціальну справедливість. Я залишився дуже задоволений цим фільмом, який
            поєднує в собі захоплюючий сюжет, яскравих персонажів і важливі соціальні теми.
            <pre></pre>
            <br>
            <h1>Додатково</h1>
            12 2 18 09 – за сюжетом, це код тайм-складу. Цікаво, що комбінація збігається з датою народження видатного
            вченого Чарльза Дарвіна, який народився 12 лютого 1809 року. Крім того, це дата народження 16 Президента США
            – Авраама Лінкольна.
        </div>
    </div>
</body>
</html>