<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
                <div class="info country">Країна: {{info.country}}</div>
                <div class="info duration">Тривалість: {{info.duration}}</div>
                <div class="info ganre">Жанр: {{info.genre}}</div>
                <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про серіал
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ми можете дізнатися його історію</div>
        <div class="response">"Гра престолів" (Game of Thrones) — це епічний фентезійний серіал, створений Девідом
            Беніоффом і Ді. Б. Вайссом, заснований на серії книг "Пісня льоду й полум'я" Джорджа Р. Р. Мартіна. Серіал
            виходив на HBO з 2011 по 2019 рік і став одним з найпопулярніших і найвпливовіших телевізійних шоу в
            історії.
            <h1>Сюжет</h1>
            Сюжет "Гри престолів" охоплює кілька різних ліній, кожна з яких переплітається з іншими, створюючи складну
            та насичену історію.

            Основні події розгортаються на континенті Вестерос, де кілька благородних родів борються за контроль над
            Залізним троном. Перший сезон починається з прибуття короля Роберта Баратеона (Марк Едді) в Вінтерфелл,
            домівку родини Старків. Роберт просить свого давнього друга Еддарда "Неда" Старка (Шон Бін) стати його новим
            Правицею короля після загадкової смерті попереднього Правиці.

            Родина Старків, включаючи Кейтлін (Мішель Фейрлі) і їхніх дітей Робба (Річард Медден), Сансу (Софі Тернер),
            Ар'ю (Мейсі Вільямс), Брана (Айзек Гемпстед Райт) і Джона Сноу (Кіт Герінгтон), швидко втягується у
            політичні інтриги столиці, Королівської Гавані. Нед починає розслідування обставин смерті попереднього
            Правиці і виявляє, що королева Серсея Ланністер (Ліна Хіді) має інцестуальні стосунки зі своїм братом Джеймі
            Ланністером (Ніколай Костер-Валдау), від якого народжені її діти, а не від короля Роберта.

            На південному заході Вестероса, в Королівській Гавані, родина Ланністерів, одна з наймогутніших і
            найзаможніших родин у Семи Королівствах, інтригує, щоб захистити свої інтереси. Серсея Ланністер, її брат
            Джеймі та їхній малорослий брат Тиріон (Пітер Дінклейдж) стають центральними персонажами у боротьбі за
            владу.

            На сході, за Вузьким морем, вигнанці Дейенеріс Таргарієн (Емілія Кларк) і її брат Візеріс (Гаррі Ллойд)
            прагнуть повернути собі Залізний трон, який їхня родина втратила під час повстання Роберта Баратеона.
            Дейенеріс, продавшись у шлюб кхалу Дрого (Джейсон Момоа), стає могутньою правителькою, народжуючи трьох
            драконів, які стають її основною силою.

            На Півночі, за Стіною, Нічна Варта, до якої приєднується Джон Сноу, бореться з надприродними загрозами,
            зокрема білими ходоками та армією мертвих, що становить загрозу для всього людства.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Еддард "Нед" Старк (Шон Бін) — голова дому Старків, Правиця короля Роберта. Він відданий своїй родині та має
            сильне почуття честі.
            <br> Дейенеріс Таргарієн (Емілія Кларк) — вигнанка з дому Таргарієнів, яка прагне повернути Залізний трон.
            Її шлях від безпорадної дівчини до королеви з драконами є одним з найпотужніших сюжетних арок.


            <pre></pre>
            <br>Тиріон Ланністер (Пітер Дінклейдж) — малорослий син Тайвіна Ланністера, який завдяки своїй розумності і
            хитрості стає важливим гравцем у політичних інтригах Вестероса.
            <pre></pre>
            <br>Серсея Ланністер (Ліна Хіді) — королева і мати трьох дітей, народжених від її брата Джеймі. Вона
            безжально захищає свої інтереси і дітей.
            <pre></pre>
            <br>Джон Сноу (Кіт Герінгтон) — бастард дому Старків, який приєднується до Нічної Варти. Його шлях від
            непомітного юнака до одного з ключових лідерів опору проти білих ходоків є центральною темою серіалу.
            <pre></pre>
            Ар'я Старк (Мейсі Вільямс) — молода дочка Еддарда Старка, яка після втрати своєї родини стає вбивцею і шукає
            помсти.
            <br>Санса Старк (Софі Тернер) — старша дочка Старків, яка проходить через важкі випробування і стає сильною
            та мудрою правителькою.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            Перші сезони фокусуються на політичних інтригах і боротьбі за владу серед різних домів Вестероса. Смерть
            Неда Старка в першому сезоні шокувала глядачів і стала поворотним моментом, що продемонстрував
            непередбачуваність серіалу.

            У подальших сезонах розгортаються війни між Ланністерами, Старками, Баратеонами та іншими родами. Особливо
            значущими подіями стали "Червоне весілля" (сезон 3), де загинули Робб Старк, його мати Кейтлін та більшість
            їхніх прихильників, і "Битва бастардів" (сезон 6), де Джон Сноу здобуває перемогу над Рамсі Болтоном і
            повертає Вінтерфелл під контроль Старків.

            Серіал поступово вводить все більше елементів фентезі, таких як дракони Дейенеріс, білі ходоки та магічні
            сили. Останні сезони фокусуються на об'єднанні сил Вестероса проти загрози з Півночі та остаточній боротьбі
            за Залізний трон.

            Моя рецензія
            "Гра престолів" — це винятковий серіал, який зміг підкорити серця мільйонів глядачів своєю масштабністю,
            глибокими персонажами і непередбачуваними сюжетними поворотами. Його складна і детально опрацьована історія,
            а також високоякісна постановка і акторська гра роблять його справжнім шедевром телевізійного мистецтва.

            Серіал вміло поєднує політичні інтриги, драму, елементи фентезі та епічні битви, створюючи незабутню
            атмосферу і змушуючи глядачів постійно перебувати в напрузі. Візуальні ефекти, костюми і декорації — все на
            найвищому рівні, що ще більше занурює у світ Вестероса.

            Одним з головних достоїнств серіалу є його здатність розвивати персонажів, показуючи їх еволюцію та
            внутрішні конфлікти. Кожен герой має свою унікальну історію і мотивацію, що робить їх цікавими і
            багатогранними.

            Хоча останній сезон викликав багато суперечок серед фанатів через швидкий темп і деякі спірні сюжетні
            рішення, "Гра престолів" залишається однією з найбільш важливих і впливових серіалів свого часу. Він зумів
            змінити стандартні уявлення про телевізійні шоу і встановити нові стандарти якості та розповіді.

            Я залишився дуже задоволений цим серіалом, який пропонує захоплюючу подорож у світ політичних інтриг, магії
            і епічних битв. "Гра престолів" — це історія про владу, зраду, честь і любов, яка залишиться в пам'яті
            глядачів на довгі рок
        </div>
    </div>
</body>

</html>