<html>
    <body>
        <div class="container">
            <div  class="item"> 
                <a routerLink="no-country">
                    <img src="{{no_country}}" alt="">
                </a>
                <div class="name">Старим тут не місце</div>  
            </div>
            <div  class="item"> 
                <a routerLink="interstellar">
                    <img src="{{inter}}" alt="">
                </a>
                <div class="name">Інтерстеллар</div>  
            </div>
            <div  class="item"> 
                <a routerLink="tri-metra-nadurovnem-neba">
                    <img src="{{three}}" alt="">
                </a>
                <div class="name">Три метри над рівнем неба</div>  
            </div>
            <div  class="item"> 
                <a routerLink="glubokovodnyy-gorizont">
                    <img src="{{deepwater_horizon}}" alt="">
                </a>
                <div class="name">Глибоководний горизонт</div>  
            </div>
            <div  class="item"> 
                <a routerLink="american-pie">
                    <img src="{{american}}" alt="">
                </a>
                <div class="name">Американьскій пиріг</div>  
            </div>
            <div  class="item"> 
                <a routerLink="el-camino">
                    <img src="{{el_camino}}" alt="">
                </a>
                <div class="name">Ель Каміно: Пуститися берега</div>  
            </div>
            <div  class="item"> 
                <a routerLink="time">
                    <img src="{{time}}" alt="">
                </a>
                <div class="name">Час</div>  
            </div>
            <div  class="item"> 
                <a routerLink="one-plus-one">
                    <img src="{{one}}" alt="">
                </a>
                <div class="name">1+1</div>  
            </div>
            <div  class="item"> 
                <a routerLink="fire-man">
                    <img src="{{fireman}}" alt="">
                </a>
                <div class="name">Вогнеборці</div>  
            </div>
            <div  class="item"> 
                <a routerLink="no_country">
                    <img src="{{pain}}" alt="">
                </a>
                <div class="name">Кров'ю і потом: Анаболіки</div>  
            </div>
            <div  class="item"> 
                <a routerLink="no_country">
                    <img src="{{wolf}}" alt="">
                </a>
                <div class="name">Вовк з Уолл-стріт</div>  
            </div>
            <div  class="item"> 
                <a routerLink="no_country">
                    <img src="{{seven}}" alt="">
                </a>
                <div class="name">Сім</div>  
            </div>
        </div>
    </body>
</html>