<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ми можете дізнатися його історію</div>
        <div class="response">"Кров’ю і потом: Анаболіки" (Pain & Gain) — це кримінальна комедія-драма 2013 року, знята
            Майклом Беєм, яка базується на реальних подіях. Фільм розповідає історію трьох культуристів з Майамі, які
            вирішили заробити великі гроші шляхом викрадення і шантажу, але їхні плани йдуть шкереберть. У головних
            ролях знялися Марк Волберг, Двейн Джонсон і Ентоні Макі.
            <h1>Сюжет</h1>
            Дія фільму розгортається в 1990-х роках у Майамі, де культурист і персональний тренер Деніел Луго (Марк
            Волберг) працює в спортивному клубі Sun Gym. Деніел амбітний і незадоволений своїм життям. Він мріє про
            багатство і успіх, вірячи, що вони заслуговують більшого, ніж мають. Одного разу він зустрічає Віктора
            Кершоу (Тоні Шалуб), багатого клієнта клубу, і вирішує, що Кершоу стане його квитком до багатства.

            Деніел розробляє план викрадення Кершоу і залучає до нього своїх друзів: Адріана Дорбаля (Ентоні Макі), ще
            одного культуриста, який страждає від стероїдної імпотенції, і Пола Дойла (Двейн Джонсон), колишнього
            злочинця, який навернувся до християнства, але знову піддається спокусам.

            План, однак, йде не за планом від самого початку. Незважаючи на численні невдачі та комічні ситуації, їм
            вдається викрасти Кершоу і змусити його підписати передачу всіх його активів на їх ім’я. Проте замість того,
            щоб убити Кершоу, як планувалося, вони залишають його живим, і він врешті-решт виживає, хоча всі думають, що
            він загинув.

            Кершоу звертається до приватного детектива Еда Дюбуа (Ед Гарріс), який починає розслідувати справу. Тим
            часом Деніел, Адріан і Пол намагаються звикнути до свого нового багатого життя, але швидко заплутуються у
            своїх нових ролях, здійснюючи ще більше злочинів, що призводить до ще більшої плутанини і катастрофи.

            У кінцевому підсумку їхні злочини розкриваються, і трійця стикається з неминучим правосуддям. Фільм
            завершується тим, що всі троє головних героїв опиняються за ґратами, в той час як Дюбуа і Кершоу залишаються
            єдиними, хто вийшов із цієї історії без втрат.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Деніел Луго (Марк Волберг) — амбітний і нещадний культурист, який мріє про велике багатство. Він стає
            лідером злочинної змови і втягує своїх друзів у цю авантюру.
            <br> Пол Дойл (Двейн Джонсон) — колишній злочинець і культурист, який навернувся до християнства. Він
            вразливий і легко піддається впливу, що робить його ключовою фігурою в плані Деніела.
            <pre></pre>
            <br>Адріан Дорбал (Ентоні Макі) — друг Деніела і культурист, який страждає від побічних ефектів стероїдів.
            Він погоджується на участь у злочині через свої фінансові труднощі.
            <pre></pre>
            <br>Віктор Кершоу (Тоні Шалуб) — багатий бізнесмен, жертва викрадення. Він переживає страшні випробування,
            але зрештою допомагає розкрити злочинців.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Кров’ю і потом: Анаболіки" — це незвичайна суміш комедії, драми і кримінального трилера, яка надає
            унікальний погляд на реальні події. Майкл Бей, відомий своїми блокбастерами, в цьому фільмі створив яскравий
            і динамічний світ, де комедія і трагедія йдуть пліч-о-пліч.

            Акторська гра є одним з головних достоїнств фільму. Марк Волберг чудово втілює образ амбітного і
            нерозсудливого Деніела Луго, його гра наповнена енергією і напруженням. Двейн Джонсон у ролі Пола Дойла
            демонструє незвичайну для себе вразливість і гумор, а Ентоні Макі додає фільму ще більше комічних і
            драматичних відтінків.

            Фільм відзначається своєю візуальною естетикою і стилем, що є характерним для робіт Майкла Бея. Яскраві
            кольори, швидкий монтаж і динамічні сцени створюють вражаючий ефект і тримають глядача в напрузі від початку
            до кінця.

            Сценарій фільму, заснований на реальних подіях, підкреслює абсурдність ситуації, в якій опинилися головні
            герої. Він майстерно балансує між комедійними і драматичними моментами, показуючи, як жадібність і бажання
            досягти успіху будь-якою ціною можуть привести до катастрофи.

            "Кров’ю і потом: Анаболіки" — це фільм, який змушує сміятися і задумуватися одночасно. Він є свого роду
            соціальним коментарем про сучасне суспільство і культуру споживання, а також захоплюючою кримінальною
            історією з яскравими персонажами і непередбачуваним розвитком сюжету. Це фільм, який залишає незабутнє
            враження і змушує переглянути свої погляди на амбіції.
        </div>
    </div>
</body> 

</html>