<html>
    <body>
        <div class="container">
            <div  class="item" id="one" > 
                <a routerLink="boys">
                    <img src="{{boys}}" alt="">
                </a>
                <div class="name">Хлопці</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="interstellar">
                    <img src="{{game}}" alt="">
                </a>
                <div class="name">Гра пристоілв</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="tri-metra-nadurovnem-neba">
                    <img src="{{bra}}" alt="">
                </a>
                <div class="name">Пуститися берега</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="glubokovodnyy-gorizont">
                    <!-- <img src="{{}}" alt=""> -->
                </a>
                <div class="name">Глибоководний горизонт</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="american-pie">
                    <!-- <img src="{{}}" alt=""> -->
                </a>
                <div class="name">Американьскій пиріг</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="el-camino">
                    <!-- <img src="{{}}" alt=""> -->
                </a>
                <div class="name">Ель Каміно: Пуститися берега</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="time">
                    <!-- <img src="{{}}" alt=""> -->
                </a>
                <div class="name">Час</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="one-plus-one">
                    <!-- <img src="{{}}" alt=""> -->
                </a>
                <div class="name">1+1</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="fire-man">
                    <!-- <img src="{{}}" alt=""> -->
                </a>
                <div class="name">Вогнеборці</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="no_country">
                    <!-- <img src="{{}}" alt=""> -->
                </a>
                <div class="name">Кров'ю і потом: Анаболіки</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="no_country">
                    <!-- <img src="{{}}" alt=""> -->
                </a>
                <div class="name">Вовк з Уолл-стріт</div>  
            </div>
            <div  class="item" id="one" > 
                <a routerLink="no_country">
                    <!-- <img src="{{}}" alt=""> -->
                </a>
                <div class="name">Сім</div>  
            </div>
        </div>
    </body>
</html>