<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ви можете дізнатися його історію</div>
        <div class="response">"1+1" (оригінальна назва "Intouchables") — це французька комедія-драма 2011 року,
            режисерами якої стали Олів'є Накаш та Ерік Толедано. Фільм заснований на реальних подіях і розповідає
            надихаючу історію дружби між двома чоловіками з різних соціальних верств.
            <h1>Сюжет</h1>
            Фільм починається зі сцени, де головні герої, Філіпп і Дрісс, мчать нічними вулицями Парижа на Maserati. Їх
            зупиняє поліція, і Дрісс жартома говорить, що Філіпп страждає від нападу і йому потрібна термінова допомога,
            що викликає сміх і додає гумору до ситуації. Це перша з багатьох сцен, що демонструє унікальний зв'язок між
            цими двома людьми.

            Філіпп (Франсуа Клюзе) — багатий аристократ, який став паралізованим після нещасного випадку під час
            парапланеризму. Йому потрібен асистент, який допомагатиме йому у повсякденному житті. Дрісс (Омар Сі) —
            безробітний молодий чоловік сенегальського походження, який живе у передмісті Парижа і тільки що вийшов з
            в'язниці. Він приходить на співбесіду для отримання підпису про те, що він шукає роботу, щоб продовжувати
            отримувати допомогу по безробіттю. Однак, його неочікувано наймають на роботу.

            Дрісс не має жодного досвіду у догляді за людьми з обмеженими можливостями, але його безпосередність, гумор
            і безтурботність привносять у життя Філіппа нові фарби. Спочатку Філіпп сумнівається у своєму рішенні, але
            швидко розуміє, що Дрісс — саме та людина, яка потрібна йому, щоб вийти з депресії та знову відчути радість
            життя.

            Дрісс допомагає Філіппу з фізичними завданнями, як-от одягатися, пересуватися, приймати душ. Але головне,
            він приносить у його життя багато сміху і пригод. Наприклад, одна з найвідоміших сцен фільму — це коли Дрісс
            ставить на вечірці для Філіппа і його друзів енергійну музику Earth, Wind & Fire, змушуючи всіх танцювати і
            веселитися, на відміну від їхньої звичайної класичної музики.

            Поступово ми дізнаємося більше про особисті життя обох героїв. Дрісс допомагає Філіппу у його романтичних
            справах, підтримуючи його листування з жінкою на ім'я Елеонора, з якою Філіпп спілкується листами, але
            боїться зустрітися через свій стан. Тим часом, Дрісс стикається з проблемами у своїй родині, намагаючись
            підтримувати молодшого брата, який починає втягуватися у злочинний світ.

            В кінці фільму, коли Дрісс змушений покинути роботу через проблеми в сім'ї, Філіпп знову впадає у депресію.
            Але Дрісс повертається, щоб підняти його дух. Вони разом їдуть на узбережжя, де Дрісс організовує зустріч
            Філіппа з Елеонорою. Фільм закінчується сценою, де Філіпп і Дрісс сидять на березі моря, дивлячись у
            далечінь, і глядач розуміє, що їхня дружба назавжди змінила життя обох.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Філіпп (Франсуа Клюзе) — багатий аристократ, паралізований після нещасного випадку. Він інтелігентний,
            стриманий і спочатку депресивний, але завдяки Дріссу знову знаходить радість у житті.
            <pre></pre>
            <br> Дрісс (Омар Сі) — безробітний молодий чоловік з передмістя, який стає асистентом Філіппа. Його енергія,
            гумор і безпосередність допомагають йому завоювати довіру і дружбу Філіппа.
            <pre></pre>
            <br>Елеонора — жінка, з якою Філіпп спілкується листами, але боїться зустрітися через свій фізичний стан.
            Вона відіграє важливу роль у розвитку сюжетної лінії Філіппа.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "1+1" — це неймовірно теплий і натхненний фільм, який майстерно поєднує комедію і драму. Гра Франсуа Клюзе і
            Омара Сі є надзвичайно переконливою, і їхня хімія на екрані робить цю історію незабутньою. Сценарій фільму
            наповнений гумором, який чудово контрастує з серйозними темами, що розглядаються у фільмі.

            Режисери Олів'є Накаш і Ерік Толедано вдало передають емоції та почуття персонажів, роблячи фільм дуже
            людяним і справжнім. Музичний супровід додає фільму особливої атмосфери, підкреслюючи ключові моменти
            сюжету.

            "1+1" — це фільм про справжню дружбу, що не знає меж і соціальних бар'єрів. Він нагадує про те, як важливо
            залишатися людяним і відкритим до нових знайомств, навіть якщо вони приходять з несподіваних місць. Я
            залишився дуже задоволений цим фільмом, який є справжнім шедевром у жанрі комедії-драми.
            <pre></pre>
            <br>
            <h1>Додатково</h1>
            На том, чтобы в первую очередь сделать фильм комедией, а не драмой усиленно настаивал сам Филипп Поццо ди
            Борго. Он не хотел, чтобы основанный на его жизни фильм стал историей сострадания и жалости.
        </div>
    </div>
</body>

</html>