<html>

<body>


    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ми можете дізнатися його історію</div>
        <div class="response">Здавалося б, "Старим тут не місце" — звичайний кримінальний трилер, але цей фільм
            настільки глибокий і багатогранний, що залишає мене абсолютно задоволеним і водночас дещо розгубленим. Щоб
            зрозуміти, про що йдеться в цій картині, варто коротко ознайомитися з її сюжетом та трьома головними
            персонажами.

            <h1>Сюжет</h1>
            Дія фільму розгортається в 1980-х роках на території Західного Техасу. Все починається з того, що Льюеллін
            Мосс (Джош Бролін), під час полювання, випадково натрапляє на місце перестрілки. Там він знаходить трупи,
            наркотики та кейс з двома мільйонами доларів. Взявши гроші, Льюеллін не підозрює, що це призведе до низки
            трагічних подій. За ним починає полювання Антон Чігур (Хав'єр Бардем) — жорстокий та безжалісний найманець,
            що вбиває всіх, хто стає на його шляху. Їх переслідує місцевий шериф Ед Том Белл (Томмі Лі Джонс),
            намагаючись врятувати Льюелліна і розібратися з хаосом, що виник.
            <pre></pre>
            <br><h2>Головні персонажі</h2>
            Льюеллін Мосс — ветеран війни у В'єтнамі, який намагається покращити своє життя завдяки випадково знайденим
            грошам. Мосс — людина із загостреним почуттям справедливості та стійким характером, проте його рішення взяти
            гроші стає фатальним.
            <pre></pre>
            <br> Антон Чігур — найманець, що діє за своїм власним кодексом честі. Він майже завжди вбиває своїх жертв
            безжально, використовуючи пневматичний пістолет для забою худоби. Його непередбачуваність і відсутність жалю
            роблять його надзвичайно лякаючим антагоністом.
            <pre></pre>
            <br>Шериф Ед Том Белл — старіючий шериф, який спостерігає за тим, як світ навколо нього стає все більш
            жорстоким та небезпечним. Белл символізує собою старі моральні цінності, які здаються безсилими перед лицем
            нового, жорстокішого світу.
            <pre></pre>
            <br><h1>Моя рецензія</h1>
            "Старим тут не місце" — це більше, ніж просто кримінальний трилер. Це філософська розповідь про добро і зло,
            випадковість і неминучість, старий і новий світ. Відчуття напруги не залишає протягом всього перегляду, а
            чудова акторська гра Джоша Броліна, Хав'єра Бардема та Томмі Лі Джонса додає фільму глибини та
            реалістичності.

            Що ж до мене, цей фільм залишив велику кількість вражень. Його складність та багатошаровість змушують
            задуматися про життя та його непередбачуваність. Я дуже задоволений цим фільмом, хоча й почуваюся дещо
            загубленим через його глибокий зміст. Але саме в цьому і полягає його особливість та краса — фільм змушує
            думати, відчувати і переосмислювати.
            <pre></pre>
            <br><h1>Додатково</h1>
            Існує цікава теорія, що Антон Чігур і Льюеллін Мосс можуть бути однією людиною, хоча ця ідея є більше
            філософським або символічним аналізом, ніж фактичним елементом сюжету фільму чи книги. Ось кілька аспектів
            цієї теорії: 
            <pre></pre>
            <br><h2>Теорія про єдину особистість</h2>
            Альтер Его: Згідно з цією теорією, Чігур є темним альтер его Мосса, втіленням його темних бажань і страхів.
            Мосс прагне втекти від своєї буденної реальності та взяти контроль над своїм життям, тоді як Чігур
            символізує невідворотну долю і насильство, яке приходить разом із цим.
            <pre></pre>
            <br>Моральні полюси: Мосс і Чігур представляють різні сторони людської природи — Мосс із його бажанням покращити
            життя і врятуватися, та Чігур із його безжалісною логікою та мораллю. Це може бути відображенням
            внутрішнього конфлікту, де одна особа бореться зі своїми моральними принципами та темними інстинктами.
            <pre></pre>
            <br>Протиставлення та дзеркальне відображення: Вони часто діють у паралельних лініях сюжету, що може бути
            сприйняте як дзеркальне відображення одного й того ж персонажа. Їхні шляхи перетинаються, але вони ніколи не
            взаємодіють прямо на особистому рівні, що може вказувати на те, що вони є двома аспектами одного цілого.
            <pre></pre>
            <br><h2>Підтвердження та спростування</h2>
            Кінематографічний стиль: Режисери фільму, брати Коени, часто використовують символіку та підсвідомі теми у
            своїх роботах. Теорія про єдину особистість може бути однією з таких тем, яка додає глибини сюжету та
            персонажам.
            <pre></pre>
            <br>Прямі докази: У фільмі та книзі немає прямих доказів, які б підтвердили цю теорію. Вони взаємодіють з іншими
            персонажами як окремі індивіди, і їхні дії та мотиви чітко розділені.
            <pre></pre>
            <br><h1>Висновок</h1>
            Теорія про те, що Антон Чігур і Льюеллін Мосс є однією людиною, пропонує цікавий філософський підхід до
            розуміння фільму. Вона підкреслює теми подвійності та внутрішнього конфлікту, які присутні в сюжеті. Хоча це
            може бути спекулятивною інтерпретацією, вона надає нових вимірів для аналізу та роздумів про цей захоплюючий
            фільм.
            <pre></pre>
            <br><h4>Цікавий факт</h4>продовж фільму немає жодного музикального супровіду
        </div>
    </div>
</body>

</html>