<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ви можете дізнатися його історію</div>
        <div class="response">"Глибоководний горизонт" — це потужна драматична стрічка, яка розповідає про одну з
            найбільших техногенних катастроф в історії людства. Режисер Пітер Берг створив напружений і емоційно
            насичений фільм, який залишає незабутнє враження. Картина зосереджується на реальних подіях, що сталися на
            нафтовій платформі "Deepwater Horizon" у 2010 році, і висвітлює героїзм людей, які боролися за свої життя в
            умовах катастрофи.
            <h1>Сюжет</h1>
            Фільм розпочинається з показу буденного життя працівників нафтової платформи, де все здається звичайним
            робочим днем. Однак, незабаром через технічні несправності та людську недбалість відбувається вибух, що
            призводить до неконтрольованого виливу нафти в Мексиканську затоку. В центрі історії — група робітників, які
            намагаються врятуватися від смертельної небезпеки.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Майк Вільямс (Марк Волберг) — головний інженер платформи, відданий своїй роботі і родині. Він стає
            центральною фігурою в боротьбі за виживання, демонструючи неймовірну мужність і професіоналізм в умовах
            катастрофи.
            <pre></pre>
            <br> Дональд Відрін (Курт Рассел) — начальник платформи, досвідчений і відповідальний керівник, який
            докладає всіх зусиль для того, щоб врятувати своїх підлеглих і мінімізувати наслідки вибуху.
            <pre></pre>
            <br>Фелісія Вільямс (Кейт Гадсон) — дружина Майка, яка переживає за свого чоловіка вдома. Її роль додає
            фільму емоційної глибини, показуючи особисту сторону трагедії через призму сімейних стосунків.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Глибоководний горизонт" — це захоплююча і драматична стрічка, яка не залишає байдужим. Фільм майстерно
            передає відчуття напруги і небезпеки, які відчували працівники платформи під час катастрофи. Акторська гра
            Марка Волберга і Курта Рассела вражає своєю переконливістю і глибиною, роблячи їх персонажів живими і
            справжніми.

            Візуальні ефекти та режисерська робота створюють потужну атмосферу, яка тримає в напрузі від початку до
            кінця. Кожна сцена фільму дихає автентичністю і реальністю, дозволяючи глядачеві відчути себе частиною тих
            трагічних подій.

            Цей фільм не лише про катастрофу, але й про людську мужність, стійкість і готовність допомагати іншим у
            найтяжчі моменти. "Глибоководний горизонт" нагадує нам про важливість безпеки на виробництві і про те, яку
            високу ціну можуть мати людські помилки і недбалість.

            Я залишився дуже задоволеним цим фільмом. Він викликає глибокі емоції і змушує задуматися про важливі речі.
            "Глибоководний горизонт" — це не просто фільм, а потужний заклик до відповідальності і співчуття, який
            залишає глибокий слід у серці.
            <pre></pre>
            <br>
            <h1>Додатково</h1>
            Активну допомогу знімальній групі надав Майк Вільямс, який вижив при аварії на нафтовій платформі.
        </div>
    </div>
</body>

</html>