<html>
    <body>
        <img src="{{boys}}" class="background">
        <div class="container">
            <!-- <div class="title"> {{title}}</div> -->
            <!-- <div class="tagline">Слоган «{{slogan}}»</div> -->
            <div class="info">
                <!-- <div class="info date">Дата виходу: {{info.date}}</div>
                <div class="info country">Країна: {{info.country}}</div>
                <div class="info duration">Тривалість: {{info.duration}}</div>
                <div class="info ganre">Жанр: {{info.genre}}</div>
                <div class="info actor">Актори в головних ролях: {{info.actor}}</div> -->
            </div>
        </div>
        <div class="reviev">
                Мій відгук про фільм
                <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ми можете дізнатися його історію</div>
                <div class="response">Чи задоволений я цим фільмом? Дуже задоволений. Також дуже загублений, щоб зрозуміти про що я потрібно коротко знати сюжет та трьох головних пресонажів.
                    Фільм починається 
                </div>
        </div>
    </body>
</html>