<html>

<body>
    <img src="{{boys}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
                <div class="info country">Країна: {{info.country}}</div>
                <div class="info duration">Тривалість: {{info.duration}}</div>
                <div class="info ganre">Жанр: {{info.genre}}</div>
                <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про серіал
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ми можете дізнатися його історію</div>
        <div class="response">"Хлопці" (The Boys) — це американський супергеройський телевізійний серіал, створений
            Еріком Кріпке для Amazon Prime Video. Серіал заснований на однойменній серії коміксів Гарта Енніса та Даріка
            Робертсона. "Хлопці" пропонує нетрадиційний і часто сатиричний погляд на жанр супергероїв, показуючи їх у
            зовсім іншому світлі — як корумпованих, аморальних і небезпечних.
            <h1>Сюжет</h1>
            Сюжет серіалу розгортається у світі, де супергерої є знаменитостями, маркетинговими інструментами та
            насправді є власністю могутньої корпорації Vought International. Хоча вони часто зображуються як герої,
            багато з них зловживають своїми силами і ведуть безвідповідальний і небезпечний спосіб життя.

            Серіал починається з зустрічі головного героя, Г'ю Кемпбелла (Джек Куейд), з трагедією, коли його дівчину
            вбиває на шаленій швидкості супергерой Ей-Трейн (Джессі Т. Ашер). Г'ю дізнається, що супергерої насправді є
            частиною системи, яка приховує їхні злочини і зловживання.

            Г'ю приєднується до групи під назвою "Хлопці", яку очолює Біллі Бутчер (Карл Урбан). Біллі має особисту
            вендету проти супергероїв, особливо проти Гоумлендера (Ентоні Старр), наймогутнішого і найнебезпечнішого
            серед них. Біллі вважає, що Гоумлендер винен у зникненні його дружини.

            "Хлопці" складаються з різних колоритних персонажів, кожен з яких має свою причину ненавидіти супергероїв і
            бажання боротися з ними. Разом вони намагаються викрити правду про супергероїв та їхні злочини,
            використовуючи будь-які необхідні засоби.

            З іншого боку, серіал також показує життя самих супергероїв, особливо членів команди "Сімка" (The Seven),
            яка є головною супергеройською групою Vought International. Серед них Гоумлендер, королева Мейв (Домінік
            Макеллігот), Ей-Трейн, Транслюсент (Алекс Хасселл), Блек Нуар (Натан Мітчелл), Діп (Чейс Кроуфорд) і нова
            учасниця Стартлайт (Ерін Моріарті).

            Стартлайт, справжнє ім'я якої Енні Дженьюарі, спочатку ідеалістично налаштована до своєї роботи, але швидко
            розчаровується, дізнавшись про корупцію і аморальність своїх колег. Її стосунки з Г'ю додають сюжету
            емоційної глибини і конфлікту, адже вона знаходиться між своїм обов'язком супергероя і симпатією до хлопця,
            який виступає проти них.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Біллі Бутчер (Карл Урбан) — лідер "Хлопців", який має особисту вендету проти супергероїв, особливо
            Гоумлендера. Біллі є харизматичним, але часто безжалісним і цинічним.
            <br> Г'ю Кемпбелл (Джек Куейд) — молодий чоловік, чия дівчина була вбита Ей-Трейном. Він приєднується до
            "Хлопців" і стає їхнім моральним центром, хоча часто бореться зі своєю ненавистю до супергероїв.
            <pre></pre>
            <br>Гоумлендер (Ентоні Старр) — наймогутніший супергерой, який зображується як герой для публіки, але
            насправді є безжалісним і аморальним. Його персонаж викликає одночасно страх і відразу.
            <pre></pre>
            <br>Стартлайт / Енні Дженьюарі (Ерін Моріарті) — нова учасниця "Сімки", яка спочатку ідеалістично
            налаштована, але швидко стикається з реаліями корупції і жорстокості у світі супергероїв.
            <pre></pre>
            <br>Френчі (Томер Капон) — член "Хлопців", який спеціалізується на зброї і вибухівці. Він є дуже лояльним і
            має складні стосунки з іншими членами команди.
            <pre></pre>
            Кім'їко / Жінка (Карен Фукухара) — мовчазна і надзвичайно сильна член "Хлопців", яка втратила свою сім'ю і
            була піддана експериментам, що надали їй суперсили.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Хлопці" — це неймовірно сміливий і оригінальний підхід до жанру супергероїв. Серіал майстерно поєднує
            чорний гумор, гостру сатиру і серйозні драматичні моменти, створюючи незабутнє враження. Акторська гра,
            особливо Карла Урбана і Ентоні Старра, є видатною, додаючи глибини і нюансів їхнім персонажам.

            Сценарій серіалу відзначається гостротою і динамічністю, а сюжет постійно тримає глядача в напрузі.
            Візуальні ефекти і постановка також на висоті, створюючи яскравий і детально опрацьований світ, де
            супергерої — це більше загроза, ніж захист.

            "Хлопці" — це серіал, який змушує замислитися над багатьма соціальними і моральними питаннями, і в той же
            час пропонує захоплююче видовище. Він виходить за межі традиційного супергеройського жанру, показуючи його
            темні сторони і викликаючи в глядачів цілу гаму емоцій. Я залишився дуже задоволений цим серіалом і з
            нетерпінням чекаю на продовження історії.
        </div>
    </div>
</body>

</html>