<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ми можете дізнатися його історію</div>
        <div class="response">"Американський пиріг" — це комедійний фільм, який став справжнім культовим у кінці 90-х і
            визначив жанр підліткових комедій на багато років вперед. Режисери Пол Вайц та Кріс Вайц створили дотепну та
            іноді провокаційну історію, яка досліджує теми дорослішання, сексуальної ініціації та дружби.
            <h1>Сюжет</h1>
            Фільм розповідає про чотирьох старшокласників, які домовляються втратити невинність до закінчення школи.
            Джим Левенштейн (Джейсон Біггс), Кевін Маєрс (Томас Ян Ніколас), Оз (Кріс Клейн) і Фінч (Едді Кей Томас)
            обіцяють допомагати один одному досягти цієї мети, але стикаються з низкою комічних і незручних ситуацій на
            шляху.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Джим Левенштейн — незграбний і добросердний хлопець, який часто потрапляє у незручні ситуації. Його спроби
            втратити невинність стають центральною комедійною лінією фільму, включаючи знаменитий епізод з яблучним
            пирогом.
            <br> Кевін Маєрс — лідер групи друзів, який ініціює пакт про втрату невинності. Він намагається зберегти
            стосунки зі своєю дівчиною Вікі (Тара Рід), шукаючи баланс між коханням і бажанням.
            <pre></pre>
            <br>Оз — спортсмен, який намагається показати, що він більше, ніж просто атлет. Він приєднується до хору, де
            зустрічає чарівну Хізер (Менена Суварі), і вчиться розуміти значення справжніх почуттів.
            <pre></pre>
            <br>Фінч — інтелігентний і ексцентричний хлопець, який прагне здобути досвід з більш зрілою жінкою. Його
            плани часто зазнають невдачі, але він не втрачає оптимізму.
            <pre></pre>
            <br>Стіфлер (Шонн Вільям Скотт) — зухвалий і вульгарний друг, який не входить до головної четвірки, але
            постійно створює комічні ситуації. Його персонаж додає фільму безліч смішних і неоднозначних моментів.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Американський пиріг" — це веселий, іноді грубуватий, але завжди щирий фільм, який чудово передає дух
            підліткових років. Акторський склад створює незабутні образи, які стали іконами поп-культури. Джейсон Біггс
            у ролі Джима Левенштейна надає персонажу особливу комедійність і чарівність, що робить його одним з
            найзапам'ятовуваніших героїв фільму.

            Сценарій фільму поєднує гумор з елементами драми, зображуючи процес дорослішання і всі супутні йому
            незручності та радості. Комічні ситуації, як-от сцена з пирогом або випадкове пряме включення веб-камери,
            стали класикою жанру і незмінно викликають сміх.

            Фільм також відзначається вдалим музичним супроводом, який відображає дух часу кінця 90-х. Саундтрек
            підкреслює ключові моменти і додає додаткового емоційного забарвлення сценам.

            "Американський пиріг" — це не просто комедія про підлітків і секс, це фільм про дружбу, пошук себе і
            дорослішання. Він зумів знайти баланс між вульгарністю і щирістю, ставши класикою, до якої глядачі
            повертаються знову і знову.

            Я залишився дуже задоволений цим фільмом. Його безтурботність і гумор допомагають забути про повсякденні
            турботи і просто насолодитися життям. "Американський пиріг" — це фільм, який дарує багато сміху і нагадує
            про важливість насолоджуватися кожним моментом молодості.
            <pre></pre>
            <br>
            <h1>Додатково</h1>
            За бюджету в 11 мільйонів доларів фільм Американський пиріг зібрав у світовому прокаті аж 235,5 мільйонів доларів.
        </div>
    </div>
</body>

</html>