<html>
    <body>
        <form class="log_container">
            <h1 class="log">Увійти</h1>
            <div>
                <div class="email_input">
                    <p for="email">Email</p>
                    <input type="text" id="email">
                </div>
                <div class="password_input">
                    <p for="pass">Password</p>
                    <input type="password" id="pass">
            </div>
            <button>Увійти</button>
            </div>
        </form>
    </body>
</html>
