body {
    background: url('bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.log_container {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 7%;
    width: 540px;
    height: 456px;
    background-color: whitesmoke;
    border-radius: 5%;
}

.log {
    
    text-align: center;
    padding-top: 48px;
}
input{
    width: 396px;
    height: 35px;
    border-style: initial;
}

.email_input, .password_input{
    padding-left: 72px;
    padding-top: 24px;
    line-height: 30px;
}