<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ми можете дізнатися його історію</div>
        <div class="response">"Вогнеборці" (Only the Brave) — це американський біографічний драматичний фільм 2017 року,
            режисером якого є Джозеф Косінскі. Стрічка розповідає реальну історію елітного загону пожежників "Гранітна
            гора" з міста Прескотт, Аризона, які борються з лісовими пожежами і стикаються з неймовірними викликами та
            небезпеками. У головних ролях знялися Джош Бролін, Майлз Теллер, Дженніфер Коннеллі, Джефф Бріджес та інші.
            <h1>Сюжет</h1>
            Фільм розпочинається з представлення Еріка Марша (Джош Бролін), начальника загону "Гранітна гора". Він разом
            зі своїм загоном прагне отримати статус "гарячої групи" — елітного підрозділу пожежників, який дозволить їм
            діяти безпосередньо на лінії вогню. Марш є відданим своїй роботі, але його рішучість іноді призводить до
            конфліктів з колегами та дружиною Аманою (Дженніфер Коннеллі).

            Паралельно з цим ми знайомимося з молодим чоловіком Брендоном МакДонафом (Майлз Теллер), який бореться з
            наркотичною залежністю і намагається повернути своє життя на правильний шлях після народження доньки. Він
            вирішує приєднатися до загону "Гранітна гора" і стає новобранцем, проходячи жорстке тренування під
            керівництвом Марша.

            Основна частина фільму зосереджена на щоденній роботі і житті пожежників. Глядачі бачать їхню підготовку,
            складні і небезпечні завдання, з якими вони стикаються під час боротьби з лісовими пожежами. Фільм
            демонструє як професійні, так і особисті виклики, з якими стикаються члени загону.

            Кульмінацією фільму є трагічні події, які відбуваються під час великої пожежі в Ярнеллі, Аризона, у червні
            2013 року. Загін "Гранітна гора" опиняється в пастці, коли зміна вітру несподівано спрямовує вогонь прямо на
            них. В результаті цієї трагедії гинуть 19 з 20 членів загону, включаючи Еріка Марша. Лише Брендон МакДонаф
            залишається живим, оскільки він був призначений на інше завдання поза основною групою.

            Фільм завершується сценами вшанування пам'яті загиблих героїв та їхнього внеску у боротьбу з лісовими
            пожежами.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Ерік Марш (Джош Бролін) — начальник загону "Гранітна гора". Відданий своїй роботі, він має великий досвід і
            рішучість, але іноді його рішення призводять до конфліктів з іншими.
            <pre></pre>
            <br> Брендон МакДонаф (Майлз Теллер) — новобранець загону, який намагається змінити своє життя після
            наркотичної залежності. Його персонаж проходить значну еволюцію, показуючи силу волі і рішучість.
            <pre></pre>
            <br>Аманда Марш (Дженніфер Коннеллі) — дружина Еріка, яка підтримує свого чоловіка, але також стикається з
            труднощами через його постійну відсутність і небезпечну роботу.
            <pre></pre>
            <br>Дуейн Стейнбрінк (Джефф Бріджес) — місцевий пожежний начальник і наставник Еріка, який підтримує загін
            "Гранітна гора" у їхніх зусиллях отримати статус "гарячої групи".
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Вогнеборці" — це сильний і емоційно насичений фільм, який вшановує героїзм і самопожертву пожежників.
            Мартін Косінскі майстерно передав реальність цієї небезпечної професії, показуючи як героїчні моменти, так і
            особисті трагедії.

            Акторська гра Джоша Броліна і Майлза Теллера виділяється своєю глибиною і автентичністю. Бролін втілює образ
            відданого і рішучого лідера, а Теллер демонструє вражаючий розвиток свого персонажа, проходячи через
            випробування і стаючи справжнім героєм.

            Фільм майстерно поєднує захоплюючі екшн-сцени з лісовими пожежами і зворушливі моменти, що розкривають
            особисте життя героїв. Він змушує глядачів задуматися про важливість і небезпеку роботи пожежників, а також
            про ті жертви, які вони приносять задля захисту інших.

            "Вогнеборці" — це не просто фільм про пожежників, це історія про мужність, дружбу і силу духу. Він вшановує
            пам'ять тих, хто віддав своє життя, виконуючи свій обов'язок, і залишає незабутнє враження на глядачів.
            <pre></pre>
            <br>
        </div>
    </div>
</body>
</html>