<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ви можете дізнатися його історію</div>
        <div class="response">"Ель Каміно: Пуститися берега" — це захоплюючий епілог до популярного серіалу "Пуститися
            берега" ("Breaking Bad"), який розповідає історію одного з головних персонажів серіалу, Джессі Пінкмана.
            Режисер Вінс Ґілліґан повертає глядачів у світ наркотиків, злочинності і боротьби за виживання, пропонуючи
            завершення сюжетної лінії Джессі.
            <h1>Сюжет</h1>
            Фільм починається з моменту, де закінчився фінальний епізод "Пуститися берега". Джессі Пінкман (Аарон Пол)
            втікає з місця злочину, де він був утримуваний у неволі і змушений виробляти метамфетамін. Його втеча на
            автомобілі "Ель Каміно" стає початком нового, небезпечного етапу життя.

            Джессі прагне почати нове життя, але його переслідують як привиди минулого, так і реальні загрози. Він
            звертається за допомогою до своїх старих друзів Беджера (Метт Л. Джонс) і Скінні Піта (Чарльз Бейкер), які
            допомагають йому сховатися на деякий час. Однак, Джессі розуміє, що йому потрібно більше грошей, щоб дійсно
            зникнути і розпочати нове життя.

            Джессі вирішує знайти гроші, які були сховані Тоддом (Джессі Племонс), одним з його колишніх наглядачів.
            Пошуки приводять його до будинку Тодда, де він стикається з новими перешкодами і небезпеками. Паралельно з
            цим, фільм показує флешбеки, які розкривають більше про час Джессі у полоні та його взаємодію з Тоддом і
            іншими злочинцями.

            В кінці фільму, після серії напружених подій і конфліктів, Джессі вдається знайти необхідні гроші і
            звернутися до "Зникаючого" (Роберт Форстер), який допомагає людям зникнути і почати нове життя. Завдяки
            цьому, Джессі отримує шанс на новий старт у далекій Алясці, де він сподівається знайти спокій і свободу.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Джессі Пінкман (Аарон Пол) — головний герой, який переживає глибоку трансформацію, прагнучи втекти від свого
            минулого і знайти нове життя. Аарон Пол відтворює його з вражаючою глибиною і емоційністю.
            <br> Тодд Алквіст (Джессі Племонс) — колишній наглядач Джессі, чиї флешбеки розкривають складні і часто
            жорстокі взаємини між ними. Племонс майстерно передає аморальність і холоднокровність свого персонажа.
            <pre></pre>
            <br>Беджер (Метт Л. Джонс) і Скінні Піт (Чарльз Бейкер) — вірні друзі Джессі, які ризикують власною
            безпекою, щоб допомогти йому втекти. Їхня присутність додає фільму людяності і справжньої дружби.
            <pre></pre>
            <br>Ед Гелбрет (Роберт Форстер) — "Зникаючий", людина, яка допомагає Джессі отримати нову особистість і
            втекти. Форстер у своїй останній ролі вражає стриманістю і професіоналізмом.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Ель Каміно: Пуститися берега" — це чудове продовження історії Джессі Пінкмана, яке вдало доповнює серіал
            "Пуститися берега". Вінс Ґілліґан створив напружений, емоційно насичений фільм, який тримає глядача в
            напрузі від початку до кінця. Аарон Пол блискуче справляється з роллю Джессі, показуючи його складні емоції
            і боротьбу за свободу.

            Сюжет фільму розгортається динамічно, зберігаючи характерний для серіалу стиль і атмосферу. Флешбеки
            допомагають краще зрозуміти внутрішній світ Джессі і його мотивації, додаючи глибини до його персонажа.

            Візуально фільм виконаний на високому рівні, з чудовою операторською роботою і реалістичними декораціями.
            Музика підкреслює напружені моменти і додає додаткового емоційного заряду.

            "Ель Каміно: Пуститися берега" — це фільм, який варто переглянути всім шанувальникам серіалу "Пуститися
            берега". Він надає належне завершення історії Джессі Пінкмана і залишає глядача з почуттям задоволення і
            завершеності. Я залишився дуже задоволений цим фільмом, який є яскравим прикладом якісного продовження
            улюбленої історії.
            <pre></pre>
            <br>
            <h1>Додатково</h1>
            Це останній фільм Роберта Форстера, який вийшов на екрани за його життя. Її випустили 11 жовтня 2019 року, в
            день його смерті.
        </div>
    </div>
</body>
</html>