<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ви можете дізнатися його історію</div>
        <div class="response">
            "Вовк з Волл-стріт" (The Wolf of Wall Street) — це американський біографічний кримінальний фільм,
            режисером якого є Мартін Скорсезе. Стрічка заснована на однойменних мемуарах Джордана Белфорта і розповідає
            про
            його кар'єру на Волл-стріт та численні махінації, які він здійснював у 1980-х і 1990-х роках. Головну роль
            виконав Леонардо Ді Капріо, який блискуче втілив образ аморального біржового маклера.
            <h1>Сюжет</h1>
            Сюжет фільму розгортається навколо Джордана Белфорта, молодого амбітного біржового маклера, який починає
            свою кар'єру у фірмі L.F. Rothschild під керівництвом Марка Ханни (Меттью МакКонахі). Після краху фондового
            ринку у 1987 році, відомого як "Чорний понеділок", Джордан втрачає роботу. Проте, він швидко знаходить інший
            спосіб заробітку, заснувавши власну компанію, Stratton Oakmont, разом з другом Донні Азоффом (Джона Гілл).

            Stratton Oakmont займається агресивним продажем цінних паперів та шахрайством, швидко здобуваючи значні
            прибутки. Джордан та його команда живуть на широку ногу, витрачаючи гроші на розкішні вечірки, наркотики,
            алкоголь та повій. Стиль життя Джордана стає все більш екстравагантним і небезпечним.

            Джордан одружується з моделлю Наомі Лапалья (Марго Роббі), з якою у нього народжуються діти. Проте його
            особисте життя починає руйнуватися через його зради та наркотичну залежність. У той же час, ФБР, під
            керівництвом агента Патріка Деннема (Кайл Чандлер), починає розслідування діяльності Stratton Oakmont.

            Джордан і його команда вдаються до різних схем, щоб приховати свої незаконні дії, зокрема переказують гроші
            на офшорні рахунки у Швейцарії за допомогою тещі Джордана, Емми (Джоанна Ламлі). Однак їхні зусилля не
            можуть зупинити правосуддя.

            Після ряду драматичних подій, включаючи аварію на яхті та численні конфлікти з колегами, Джордан змушений
            співпрацювати з ФБР, щоб зменшити свій термін ув'язнення. Він здає своїх друзів і колег, що призводить до
            закриття компанії і численних арештів.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Джордан Белфорт (Леонардо Ді Капріо) — головний герой, амбіційний і аморальний біржовий маклер, який досягає
            успіху через шахрайство і незаконні операції. Його персонаж відображає жадобу і корупцію, що панують на
            Волл-стріт.
            <br> Донні Азофф (Джона Гілл) — найближчий друг і партнер Джордана, який також активно бере участь у
            шахрайських схемах. Його персонаж додає комічних і водночас трагічних моментів у фільм.
            <pre></pre>
            <br>Наомі Лапалья (Марго Роббі) — друга дружина Джордана, яка стає жертвою його аморального способу життя.
            Вона намагається зберегти сім'ю, але врешті-решт розлучається з ним через його зради і наркотичну
            залежність.
            <pre></pre>
            <br>Патрік Деннем (Кайл Чандлер) — агент ФБР, який розслідує діяльність Stratton Oakmont і врешті-решт
            арештовує Джордана.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Вовк з Волл-стріт" — це яскрава і надзвичайно динамічна історія про підйом і падіння одного з найвідоміших
            біржових маклерів. Режисура Мартіна Скорсезе вражає своєю енергійністю і деталізацією, а гра Леонардо Ді
            Капріо заслуговує на найвищі похвали. Його втілення Джордана Белфорта — це майстер-клас акторської
            майстерності, який демонструє всю багатогранність і суперечливість цього персонажа.

            Сюжет фільму захоплює з перших хвилин і тримає в напрузі до самого кінця. Він пропонує не тільки поглиблений
            погляд на світ фінансів і корупції, але й гостру сатиру на надмірність і жадібність сучасного суспільства.
            Комічні моменти майстерно поєднуються з драматичними, створюючи унікальну атмосферу, яка змушує глядача
            одночасно сміятися і задумуватися.

            Фільм також відзначається чудовою роботою оператора і музичним супроводом, що доповнює загальну картину і
            робить її ще більш захоплюючою. "Вовк з Волл-стріт" — це безперечно один з найкращих фільмів Мартіна
            Скорсезе, який залишає сильне враження і змушує замислитися над багатьма аспектами людського життя і
            суспільства.
            <pre></pre>
            <br>
            <h1>Додатково</h1>
            Настоящий Марк Ханна (Mark Hanna), исполненный Мэттью МакКонахи, утверждает, что он приобрел 25% акций
            бизнеса Белфорта и работал с ним еще два года. Однако это не было упомянуто в фильме.
        </div>
    </div>
</body>

</html>