<html>
    <body >
            <div class="container">
                <div class="main">
                  Привіт, це стартовий проект зроблений на Ангулярі, який був зроблений з метою ознайомленя цього фреймворку
                </div>
                <div class="about">Цей сайт розроблений за власною ініціативою <br> 
                                   Весь контент на ньому є власною думкою автора <br> 
                                   В перспективі будуть добавлені нові функії та контент
                </div>
            </div>
    </body>
</html>
