<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ви можете дізнатися його історію</div>
        <div class="response">"Три метри над рівнем неба" — це захоплююча романтична драма, що занурює глядача в світ
            юнацьких емоцій, перших справжніх почуттів і важких виборів. Іспанський фільм, знятий за однойменним романом
            Федеріко Моччіа, вміло поєднує елементи любовної історії з драматизмом життя. Це історія про пристрасть,
            молодість і пошук свого місця у світі.
            <h1>Сюжет</h1>
            У центрі сюжету — історія кохання двох молодих людей з абсолютно різних світів. Бабі (Марія Вальверде) —
            вихована, відповідальна дівчина з благополучної родини. Її життя йде за запланованим сценарієм до того
            моменту, коли вона зустрічає Аче (Маріо Касас) — бунтаря з кримінальним минулим, який живе за власними
            правилами.
            Їхня зустріч стає початком бурхливого роману, який змінює їх обох. Їхні почуття підносять їх "три метри над
            рівнем неба", але реальність швидко нагадує про себе. Вони змушені зіткнутися з випробуваннями, які
            перевірять їхню любов на міцність.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Поло (Альваро Сервантес) — найкращий друг Аче, який завжди поруч у найважчі моменти. Поло є уособленням
            відданості та підтримки, надаючи Аче сил та допомагаючи йому справлятися з внутрішніми конфліктами. Він
            також додає в сюжет елементи гумору та дружби, що робить фільм ще більш багатогранним.
            <pre></pre>
            <br> Бабі (Марія Вальверде) — ніжна і добросердна дівчина, яка намагається слідувати правилам і очікуванням
            своїх батьків. Її знайомство з Аче відкриває їй новий світ емоцій і пристрасті, але також ставить її перед
            важкими виборами.
            <pre></pre>
            <br>Аче (Маріо Касас) — харизматичний і бунтівний хлопець з непростим минулим. Його важке життя і проблемні
            стосунки з батьками зробили його жорстким і незалежним, але зустріч з Бабі пробуджує в ньому здатність
            кохати і змінюватися.
            <pre></pre>
            <pre></pre>
            <br>Катіна (Нерея Камачо) — найкраща подруга Бабі, яка підтримує її в усіх починаннях. Її персонаж додає
            фільму легкості та дружніх моментів, контрастуючи з драматичністю основної любовної лінії.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Три метри над рівнем неба" — це потужна і емоційно насичена історія, яка зачіпає теми кохання, свободи та
            особистого зростання. Акторська гра Марії Вальверде і Маріо Касаса настільки переконлива, що їхні герої
            здаються справжніми і близькими. Візуальна складова фільму разом із чудовим музичним супроводом створює
            незабутню атмосферу.

            Цей фільм не просто про кохання, але й про дорослішання та складні вибори, які стоять перед кожною молодою
            людиною. "Три метри над рівнем неба" показує, як двоє людей з різних світів можуть знайти спільну мову і
            змінити одне одного. Він нагадує, що справжнє кохання може піднести нас на небачені висоти, але також
            потребує мужності та рішучості перед обличчям труднощів.

            Я залишився дуже задоволеним цим фільмом. Його емоційна сила, глибокі персонажі і захоплюючий сюжет роблять
            його таким, що запам'ятовується. "Три метри над рівнем неба" — це фільм, який варто побачити і пережити
            разом з його героями.
            <pre></pre>
            <br>
            <h1>Додатково</h1>
            Зйомки у нічному клубі виявилися дуже складними всім, т.к. шанувальники з'ясували місце розташування
            знімальної групи і відбулося буквально нашестя тих, хто цікавиться. Величезна кількість людей зібралася в
            одному місці, щоб подивитися на знімальний процес та підстерігати своїх улюблених акторів. Фанатки були
            настільки шалені, що порвали футболку Маріо Касасу.
        </div>
    </div>
</body>

</html>