<html>

<body>
    <img src="{{backgroundimg}}" class="background">
    <div class="container">
        <div class="title"> {{title}}</div>
        <div class="tagline">Слоган «{{slogan}}»</div>
        <div class="info">
            <div class="info date">Дата виходу: {{info.date}}</div>
            <div class="info country">Країна: {{info.country}}</div>
            <div class="info duration">Тривалість: {{info.duration}}</div>
            <div class="info ganre">Жанр: {{info.genre}}</div>
            <div class="info actor">Актори в головних ролях: {{info.actor}}</div>
        </div>
    </div>
    <div class="reviev">
        Мій відгук про фільм
        <div class="warning">БУДЬТЕ ОБЕРЕЖНі. Читаючи цей відгук ви можете дізнатися його історію</div>
        <div class="response">"Інтерстеллар" — це більше, ніж просто науково-фантастичний фільм. Це епічна подорож крізь
            простір і час,
            що залишає глядачів не тільки задоволеними, але й глибоко замисленими над природою людського існування та
            нашого місця у Всесвіті.
            Режисер Крістофер Нолан зумів створити справжній шедевр, який зворушує до глибини душі і викликає масу
            емоцій.

            <h1>Сюжет</h1>
            Фільм розповідає про близьке майбутнє, коли Земля перебуває на межі екологічної катастрофи, і виживання
            людства опиняється під загрозою.
            Головний герой, Купер (Меттью Макконахі), колишній пілот NASA, тепер фермер, знову повертається до справи,
            коли його залучають до амбітної космічної місії.
            Мета місії — знайти новий дім для людства серед зірок. Разом з командою вчених, включаючи доктора Бренда
            (Енн Гетевей),
            Купер вирушає через кротовину в пошуках придатної для життя планети.
            <pre></pre>
            <br>
            <h2>Головні персонажі</h2>
            Купер (Меттью Макконахі) — талановитий пілот і батько, який готовий пожертвувати всім заради майбутнього
            своїх дітей і всього людства.
            Його відвага, розум і невтомна віра в людський дух роблять його справжнім героєм.
            <pre></pre>
            <br> Доктор Амелія Бренд (Енн Гетевей) — вчена і дочка професора Бренда. Вона є палкою прихильницею місії і
            вірить у силу кохання як рушійної сили,
            здатної змінити хід подій.
            <pre></pre>
            <br>Мерф (Маккензі Фой/Джессіка Честейн) — дочка Купера, яка стає ключовою фігурою у розгадці наукових
            таємниць і втіленні плану порятунку людства.
            Її любов до батька і неймовірний інтелект відіграють важливу роль у розв'язанні сюжету.
            <pre></pre>
            <br>
            <h1>Моя рецензія</h1>
            "Інтерстеллар" — це неймовірний фільм, що змушує глибоко задуматися про наше місце у Всесвіті, природу часу
            і сили кохання.
            Візуальні ефекти вражають своєю грандіозністю, а музика Ганса Ціммера додає емоційної глибини кожній сцені.
            Акторська гра, особливо виконання Меттью Макконахі, зворушує до сліз і тримає в напрузі від початку до
            кінця.
            Цей фільм залишає відчуття задоволення і вдячності за те, що ми маємо можливість жити і досліджувати цей
            неймовірний світ.
            "Інтерстеллар" також змушує мене почуватися дещо загубленим у роздумах
            над його глибокими темами. Його складність і багатошаровість викликають бажання переглянути його знову і
            знову, кожного разу відкриваючи нові аспекти і деталі.
            "Інтерстеллар" — це кінематографічний шедевр, який варто переглядати і обговорювати. Він залишається зі мною
            надовго, нагадуючи про те, що людський дух, любов і наука здатні змінити наш світ і долати навіть
            найскладніші перешкоди. Я дуже задоволений цим фільмом, і його глибина, краса та філософська складність
            роблять його одним із моїх улюблених.
            <pre></pre>
            <br>
            <h1>Додатково</h1>
            Крістофер Нолан хотів знімати справжні кукурудзяні поля, але не знав, скільки часу займе вирощування нових
            локацій. На щастя, він згадав, що Зак Снайдер уже займався цим для своєї картини «Людина зі сталі» (2013).
            Далі був дзвінок другу: з'ясувалося, що в того вже є кілька сотень акрів. Там Нолан і збудував необхідний
            фермерський будинок. Коли все було закінчено, урожай кукурудзи зібрали та, за словами Нолана, непогано на
            цьому заробили.
        </div>
    </div>
</body>

</html>