*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    font-family: 'myfont';
    src: url('assets/fonts/Jersey20-Regular.ttf');
}
@font-face {
    font-family: 'titlefont';
    src: url('assets/fonts/Roboto-BoldItalic.ttf');
}